<div class="card flex justify-center">
  <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" (onHide)="close()">
    <div class="flex align-items-center flex-column">
      <span class="p-text-secondary block mb-4">Acesso ao sistema</span>

      <div class="flex items-center flex-column gap-4 mb-6">
        <input type="text" pInputText [(ngModel)]="email" name="email" placeholder="E-mail" />
        <p-password [(ngModel)]="senha" name="senha" [toggleMask]="true" [feedback]="false" placeholder="Senha" />
        <a class="text-xs cursor-pointer" (click)="abrirEsqueciSenha()">Esqueci minha senha</a>
      </div>

      <div #captchaContainer class="mb-4"></div>

      <div class="flex justify-end gap-2">
        <p-button label="Entrar" (click)="submit()"></p-button>
      </div>
    </div>
  </p-dialog>
</div>
